{% extends "base.html" %}


{% block body %}
<div class="container">	
<br>
<div class="well" style="background-color: #f2dede;">
<h1 class="text-center">Kocaeli Üniversitesi</h1>
<h2 class="text-center">Zayıf Web Uygulaması</h2>
</div>
<br>
    <div class="panel panel-danger">
     	<div class="panel-heading"><p>Zayıf Web Uygulaması Nedir?<p></div>
      	<div class="panel-body" style="margin-right: 150px;margin-left: 150px"><p class="text-justify" >Zayıf Web Uygulaması kasıtlı olarak bırakılmış güvenlik zafiyetleri içeren bir Python/SQLite web uygulamasıdır. Kasıtlı olarak bırakılmış güvenlik zafiyetlerini içeren zayıf web uygulamaları, uygulamalı siber güvenlik eğitimlerinde önemli bir rol oynamaktadır. Öğrenciler yasal olmayan bir şekilde gerçek sistemlere saldırmadan bu tip uygulamalar üzerinde öğrendiklerini tecrübe ederek kendilerini geliştirebilmektedirler.</p></div>
    </div>

    <div class="panel panel-danger">
    	<div class="panel-heading"><p>Bu Projenin Amacı<p></div>
      	<div class="panel-body" style="margin-right: 150px;margin-left: 150px"><p class="text-justify">Farklı programlama dillerinde (PHP, ASP, C#.NET, Node.js, PERL, Java, Ruby on Rails, Python, C++, ColdFusion vb.) yazılmış zayıf web uygulamaları bulunmaktadır. Fakat, Türkçe yazılmış ve iyi bir şekilde dökümantasyonu yapılmış web uygulamaları yok denecek kadar azdır.</p></div>
    </div>
</div>
{% endblock body %}